<div class="h-[200px] w-[450px]">
  <div class="body flex align-center justify-center flex-col">
    <img src="" alt="">
    <h2 class="text-[22px]">Incoming Call....</h2>
    <h2 class="text-[25px]">{{data.data.caller.username}}</h2>
  </div>
  <div class="footer flex align-center justify-center mt-[85px] space-x-[20px] text-white">
    <button [routerLink]="['../../../videocall',data.data.caller._id]" (click)="acceptCall()"
      class="h-[40px] w-[200px]  bg-green-600 rounded-lg hover:bg-green-700">Accept</button>
    <button (click)="rejectCall()" class="h-[40px] w-[200px]  bg-red-600 rounded-lg hover:bg-red-700">Reject</button>
  </div>
</div>