<div class="ml-[500px]" *ngIf="selectedUser">
  <div>
    <img style="height: 50px;width: 50px;border-radius: 25px;display: inline;" [src]="selectedUser.image" alt="">
    <h4 class="ml-[2px]" style="display: inline;">{{selectedUser.username}}</h4>
  </div>
  <div *ngFor="let message of messages?.message">
    <!--Display the message send the by another USer-->
    <ng-container *ngIf="message.sender===selectedUser._id && message.reciever===currentUserId">
      <p>{{message.message}}</p>
      <small>{{message.createdAt|date:'shortTime'}}</small>
    </ng-container>
    <ng-container *ngIf="message.sender===currentUserId && message.reciever===selectedUser._id">
      <p class="ml-[100px]">{{message.message}}</p>
      <small class="ml-[100px]">{{message.createdAt|date:'shortTime'}}</small>
    </ng-container>
  </div>

  <div class="mt-[10px]">
    <form #messageForm="ngForm">
      <input ngModel placeholder="Type anything!!!" style="border: 1px solid black;" type="text" name="message">
    </form>
    <button (click)="sendMessage()"
      class="cursor-pointer text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">send</button>
  </div>
</div>