<div class="bg-gray-100 h-[600px] w-[1000px] rounded-lg flex flex-col">

  <div class="flex items-center justify-between bg-white h-[50px] px-4 shadow-md rounded-t-lg">
    <div>
      <h4 class="text-lg font-bold">{{user.data.username}}</h4>
      <h6 class="text-sm text-gray-500">Online</h6>
    </div>
    <button (click)="videoCall()" class="text-sm text-white bg-blue-500 hover:bg-blue-600 py-2 px-4 rounded-lg">Video
      Call</button>
  </div>

  <!-- Messages -->
  <div class="flex-1 overflow-y-scroll px-4 py-2">
    <div *ngFor="let message of messageArray" class="mb-4">
      <div *ngIf="message.sender === currentUserId &&message.reciever===selectedUserId" class="text-right">
        <div class="bg-blue-500 text-white py-2 px-4 rounded-lg inline-block">
          <p>{{ message.message }}</p>
          <small class="text-gray-300 block">{{ message.createdAt | date:'shortTime' }}</small>
        </div>
      </div>
      <div *ngIf="message.reciever === currentUserId && message.sender===selectedUserId" class="text-left">
        <div class="bg-gray-200 py-2 px-4 rounded-lg inline-block">
          <p>{{ message.message }}</p>
          <small class="text-gray-600 block">{{ message.createdAt | date:'shortTime' }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Message Input -->
  <div class="flex items-center bg-white px-4 py-2 rounded-b-lg">
    <form #messageForm="ngForm" class="flex-1">
      <input class="w-full border border-gray-300 px-3 py-2 rounded-lg focus:outline-none focus:border-blue-500" ngModel
        placeholder="Type anything!!!" type="text" name="message">
    </form>
    <button (click)="sendMessage(messageForm)"
      class="ml-2 text-white bg-blue-500 hover:bg-blue-600 py-2 px-4 rounded-lg focus:outline-none">Send</button>
  </div>


</div>