.welcome-page {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.welcome-page.ng-hide {
  opacity: 0;
}

.chat-screen {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.chat-screen.ng-enter {
  opacity: 1;
}