<div class="flex">
  <!-- User Sidebar  will be displayed-->
  <div class="h-[600px] w-[300px] bg-gradient-to-r from-sky-500 to-indigo-500 rounded-l-lg">
    <app-user-side-bar></app-user-side-bar>
  </div>

  <div class="flex">
    <router-outlet name="primary"></router-outlet>
  </div>
  <div class="temporary" *ngIf="!selectedUserId">
    <div
      class="bg-gradient-to-r from-sky-500 to-indigo-500 h-[600px] w-[1000px] rounded-r-lg flex justify-center items-center flex-col">
      <h2 class="text-white text-3xl font-bold">Select a user to start chatting!</h2>
      <p class="text-white text-lg mt-4">Find your friends and colleagues and chat with them in real-time.</p>
    </div>
  </div>
</div>