<div>
  <h3>hi</h3>
  <h3>Select</h3>
</div>
<div class="main flex mt-[20px] flex-col overflow-hidden">
  <div class="mt-[15px]" *ngFor="let user of users" style="cursor: pointer">
    <div class="flex align-center" [routerLink]="'chat/user/'+user._id" routerLinkActive="active-chat"
      (click)="selectedUser(user._id)">
      <img class="rounded-full object-cover w-[50px] h-[50px]" [src]="user.image" alt="">
      <div class="ml-[10px] flex flex-col text-teal-50">
        <ul class="font-medium text-[16px]">{{user.username}}</ul>
        <p>3+ new Messages</p>
        <!-- <ul>{{user.phone}}</ul> -->
      </div>
      <div class="ml-[60px] mt-[10px] flex bg-orange-400 align-center justify-center w-7 h-7 rounded-full">
        <p class="mt-[3px]">4</p>
      </div>
    </div>
  </div>
</div>