<div class="flex items-center justify-center bg-gray-100 rounded-lg">
  <div class="flex flex-col items-center bg-white p-8 rounded-lg shadow-md">
    <!-- Password Reset Form -->
    <form #passwordResetForm="ngForm" class="w-96 space-y-4">
      <div>
        <input type="password" name="currentPassword" ngModel required
          class="w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
          placeholder="Current Password">
        <div
          *ngIf="passwordResetForm.controls['currentPassword']?.touched && passwordResetForm.controls['currentPassword'].errors?.['required']"
          class="text-red-500 text-sm mt-1">*Current Password is required</div>
      </div>
      <div>
        <input type="password" name="newPassword" ngModel #newPassword="ngModel" required
          class="w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
          placeholder="New Password">
        <div
          *ngIf="passwordResetForm.controls['newPassword']?.touched && passwordResetForm.controls['newPassword'].errors?.['required']"
          class="text-red-500 text-sm mt-1">*New Password is required</div>
      </div>
      <div>
        <input type="password" name="confirmNewPassword" ngModel #confirmPassword="ngModel" required
          class="w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
          placeholder="Confirm New Password">
        <div
          *ngIf="passwordResetForm.controls['confirmNewPassword']?.touched && passwordResetForm.controls['confirmNewPassword'].errors?.['required']"
          class="text-red-500 text-sm mt-1">*Please confirm the New Password</div>
        <div *ngIf="newPassword.value !== confirmPassword.value && confirmPassword.touched"
          class="text-red-500 text-sm mt-1">*Passwords do not match</div>
      </div>
      <div>
        <button type="submit" [disabled]="passwordResetForm.invalid || newPassword.value !== confirmPassword.value"
          (click)="resetPassword()"
          class="w-full bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Reset
          Password</button>
      </div>
    </form>
  </div>
</div>